@import url('../profile/__add-button/profile__add-button.css');
@import url('../profile/__description/profile__description.css');
@import url('../profile/__edit-button/profile__edit-button.css');
@import url('../profile/__image/profile__image.css');
@import url('../profile/__info/profile__info.css');
@import url('../profile/__title/profile__title.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #0f653d;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}
